body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.blogcard{
    display: flex;
    gap: 2em;
    padding: 2em;

}

.jujutsu {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    
}

.actus > h2 {
    padding: 1rem;
    color: var(--color-red-petillant)
}


.articles {
    display: flex;
    flex-direction: column;
}

.articles > h3 {
    font-size: 14px;
    color: var(--color-red-petillant);
    opacity: 0.7;
    margin-top: 0;
}

.articles > p {
    font-size: 13px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-red-petillant);
    margin: 10px 0;
    align-self: stretch;
}